.btn-login-pill {
    background-color:rgb(46, 104, 181);
    color: white;
    padding: 15px 100px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-weight: 100;
    text-align: center; 
}

.btn-google-pill {
    background-color:rgb(172, 55, 28);
    color: white;
    padding: 15px 60px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-weight: 100;
    text-align: center; 
}

.btn-facebook-pill {
    background-color:rgb(13, 50, 124);
    color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-weight: 100;
    text-align: center; 
}

.btn-fp-pill {
    background-color:rgb(255, 255, 255);
    color: rgb(20, 22, 136);
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-weight: 100;
    text-align: center; 
}

.btn-ca-pill {
    background-color:rgb(255, 255, 255);
    color: rgb(20, 22, 136);
    padding: 15px 50px;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    font-weight: 100;
    text-align: center; 
}
